// Navbar styles.

@import "./variables";
@import "./common";
@import "./mixins";

#title {
    a {
        @extend .links;
    }
}

#navbar {
    @include flex(row, null, center, wrap);
    background-color: $primaryColor;
    font-weight: 600;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    padding: 0.6em;
    letter-spacing: 0.75px;
    overflow: hidden;
}

#nav-links {
    display: block;
    margin-left: auto;
    padding-right: 15px;
    list-style-type: none;
    a {
        @extend .links;
        padding: 0.5em;

        &:hover {
            text-decoration: overline;
        }
    }
}

.elevate-navbar {
    box-shadow: $box-shadow;
}
