@import "./_variables";

#contact {
    padding: 0.5em;
    background-color: $primaryColor;
}

.social img {
    height: 5vh;
    width: auto;
    padding: 0.3rem;
}

.social a {
    text-decoration: none;
}

.social a:hover {
    opacity: 0.8;
}
