#welcome-section {
    background-color: #f2da63;
    height: 100vh;
}

#location-icon {
    margin-right: 15px;
}

#welcome-section a {
    text-decoration: none;
    color: black;
}

#welcome-section a:hover {
    opacity: 0.8;
}
