@import "./_mixins";
@import "./_common";
@import "./_fonts";
@import "./_variables";

@import "./_navbar";
@import "./_welcome_section";
@import "./_project_section";
@import "./_project_grid";
@import "./_presence_section";
@import "./_scroll_to_button";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Mono", sans-serif;
    margin: 0;
}

main {
    margin-top: 70px;
}

@media (min-width: 570px) {
    #project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 570px) {
    #navbar {
        justify-content: center;
        padding: 0.5em;
    }

    #nav-links {
        display: none;
    }

    #project-grid img {
        height: auto;
        width: 80vw;
    }
}

@media (max-width: 425px) {
    #navbar,
    #welcome-section,
    #projects,
    #contact {
        font-size: 4vw;
    }

    #project-grid img {
        height: auto;
        width: 80vw;
    }

    .social img {
        height: 6vh;
        width: auto;
    }
}

@media (max-width: 350px) {
    #navbar,
    #welcome-section,
    #projects,
    #contact {
        font-size: 4vw;
    }

    .social img {
        height: 5.5vh;
        width: auto;
    }
}

@media (max-width: 240px) {
    #title {
        font-size: 7vw;
    }

    #welcome-section,
    #projects,
    #contact {
        font-size: 5vw;
    }

    #projects {
        padding: 10px;
    }

    #project-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .social img {
        height: 5vh;
        width: auto;
    }
}
