@font-face {
    font-family: "Space Mono";
    font-style: normal;
    src: url("assets/fonts/Space_Mono/SpaceMono.ttf") format("truetype");
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Mono", sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    margin-top: 70px;
}

#navbar {
    background-color: #f2da63;
    font-weight: 600;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    padding: 0.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    letter-spacing: 0.75px;
    overflow: hidden;
}

#nav-links {
    display: block;
    margin-left: auto;
    padding-right: 15px;
    list-style-type: none;
}

#nav-links a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

#nav-links a:hover {
    text-decoration: overline;
}

#welcome-section {
    background-color: #f2da63;
    height: 100vh;
}

.elevate-navbar {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

#welcome-section a {
    text-decoration: none;
    color: black;
}

#welcome-section a:hover {
    opacity: 0.8;
}

::selection {
    background-color: #7278f2;
    color: black;
}

#project-header {
    text-align: center;
}

#projects {
    background-color: #7278f2;
    height: fit-content;
    padding: 1em;
}

#project-grid a {
    color: black;
    text-decoration: none;
}

#project-grid a:hover {
    text-decoration: underline;
}

#project-grid img {
    border-radius: 2px;
    height: auto;
    width: 100%;
}

#project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    justify-content: center;
}

.project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2da63;
    padding: 1em;
    text-align: center;
    border-radius: 2px;
    transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-tile:hover {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
			0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

#contact {
    padding: 0.5em;
    background-color: #f2da63;
}

.social img {
    height: 28px;
    width: 28px;
}

.social a {
    text-decoration: none;
}

.social a:hover {
    opacity: 0.8;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

#scroll-top-btn {
    display: none;
    font-family: inherit;
    border: none;
    outline: none;
    background: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
}

#scroll-top-btn:hover {
    opacity: 0.7;
}

/* 
Custom Scroll Bar 
Ref: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp		
*/
::-webkit-scrollbar {
    width: 5px;
    background-color: lightgray;
}

::-webkit-scrollbar-track {
    background: lightgray;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 30px;
}

@media (min-width: 570px) {
    #project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 570px) {
    #navbar {
        justify-content: center;
        padding: 0.5em;
    }

    #nav-links {
        display: none;
    }

    #project-grid img {
        height: auto;
        width: 80vw;
    }
}

@media (max-width: 425px) {
    #navbar {
        font-size: 0.9em;
    }

    #welcome-section {
        font-size: 0.9em;
    }

    #project-grid img {
        height: auto;
        width: 80vw;
    }
}

@media (max-width: 350px) {
    #navbar {
        font-size: 0.8em;
    }

    #welcome-section {
        font-size: 0.8em;
    }
}

@media (max-width: 240px) {
    #title {
        font-size: 1.3em;
    }

    #project-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
